@use "../foundation/_color" as c;
@use "../foundation/_function" as f;
@use "../foundation/_font" as fo;
@use "../foundation/_mixin" as m;

//@include m.mq(lg,max){}

.l-header{

    @include m.mq(md,min){
        opacity:0;
        visibility: hidden;
        transition:opacity .3s ease-out, visibility .3s ease-out;
        border-radius:f.rem(26);
        background-color: rgba(#fff,30%);
        backdrop-filter: blur(f.rem(2));
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        height: f.rem(52);
        gap:f.rem(30);
        padding:0 f.rem(12) 0 f.rem(26);
        position: fixed;
        right:f.rem(8);
        top:f.rem(10);
        z-index: 100;
        .is-scroll &{
            opacity:1;
            visibility: visible;
        }
    }
    &__logo{
        width:100%;
        max-width:f.rem(41);
    }
    @include m.mq(md,max){
        &__top{
            display: flex;
            flex-direction: column;
            gap:f.rem(10);
            width:f.rem(40);
            right:f.rem(20);
            top:f.rem(20);
            position: fixed;
            z-index: 100;
        }
        &__trigger{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: f.rem(8);
            position: relative;
            span{
                display: block;
                width:100%;
                height: 1px;
                border-radius:f.rem(1);
                background-color: c.$c-base;
                transition: transform .3s ease-out;
                transform-origin: 50%;
                .is-opened &{
                    position: absolute;
                    top:50%;
                    left:50%;
                    &.top-bar{
                        transform:translate(-50%,-50%) rotate(20deg);
                    }
                    &.bottom-bar{
                        transform:translate(-50%,-50%) rotate(-20deg);
                    }
                }
            }
        }
    }
    &__nav{
        @include m.mq(md,max){
            opacity: 0;
            visibility: hidden;
            padding:f.rem(74) f.rem(50) f.rem(100);
            transition: opacity .6s cubic-bezier(0.485, 0.135, 0, 0.995), visibility .6s cubic-bezier(0.485, 0.135, 0, 0.995);
            border-radius:f.rem(20);
            background-color: rgba(#fff,40%);
            backdrop-filter: blur(f.rem(4));
            -webkit-backdrop-filter: blur(f.rem(4));
            position: fixed;
            right:f.rem(12);
            top:f.rem(12);
            z-index: 90;
            overflow: auto;
            width:calc(100% - f.rem(24));
            max-height:calc(100% - f.rem(24));
            .is-opened &{
                opacity: 1;
                visibility: visible;
            }
        }
        &-item{
            &Wrapper{
                display: flex;
                gap:f.rem(14);
                @include m.mq(md,max){
                    flex-direction: column;
                    gap:f.rem(30);
                }
            }
        }
        &-contact{
            @include m.mq(md,min){
                position: fixed;
                right:0;
                top: f.rem(90);
                z-index: 100;
            }
            @include m.mq(md,max){
                margin-top: f.rem(40);
            }
            a{
                font-size: f.rem(14);
                font-weight: 500;
                @include m.mq(md,min){
                    width:f.rem(40);
                    border:1px solid c.$c-base;
                    padding-inline:f.rem(16);
                    border-right:none;
                    border-radius:f.rem(2) 0 0 f.rem(2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include m.writing-vertical();
                    background-color: #fff;
                    transition:color .3s ease-out, background .3s ease-out;
                    &:hover{
                        color:c.$c-white;
                        background-color: c.$c-base;
                    }
                }
                @include m.mq(md,max){
                    display: inline-flex;
                    align-items: center;
                    border-top:1px solid;
                    border-bottom:1px solid;
                    height: f.rem(52);
                }
            }
        }
    }
}

